<div class="sidebar">
  <!-- LOGO EN HAUT -->
  <div class="navbar-logo">
    <img
      src="https://th.bing.com/th/id/R.70dabf9988bd0e6cb982456ae9006a57?rik=6c0CEo2VXyvPTA&pid=ImgRaw&r=0"
      alt="Logo"
      class="logo"
      routerLink="/home"
    />
    <span class="logo-text">CareConnect</span>
  </div>

  <!-- LIENS CENTRÉS VERTICALEMENT -->
  <ul class="nav-links centered-links">
    
     <!-- ADMIN -->
<ng-container *ngIf="userRole === 'ADMIN'">
  <li><a routerLink="/admin/dashboard"><i class="fas fa-tachometer-alt"></i> Tableau de bord</a></li>
  <li><a routerLink="/admin/users"><i class="fas fa-user-md"></i> Gérer Médecins</a></li>
  <li><a routerLink="/admin/secretaries"><i class="fas fa-user-nurse"></i> Gérer Secrétaires</a></li>
  <li><a routerLink="/admin/settings"><i class="fas fa-cog"></i> Paramètres</a></li>
</ng-container>
   

    <!-- MEDECIN -->
    <ng-container *ngIf="userRole === 'MEDECIN'">
  <li>
    <a routerLink="/medecin/dashboard" class="menu-item">
      <i class="fas fa-tachometer-alt"></i> Tableau de bord
    </a>
  </li>
  <li>
    <a routerLink="/medecin/appointments" class="menu-item">
      <i class="fas fa-calendar-check"></i> Rendez-vous
    </a>
  </li>
 
</ng-container>

    <!-- PATIENT -->
    <ng-container *ngIf="userRole === 'PATIENT'">
  <li>
    <a routerLink="/patient/dashboard" routerLinkActive="active">
      <i class="fas fa-tachometer-alt me-2"></i>
      Tableau de bord
    </a>
  </li>
  <li>
    <a routerLink="/patient/appointments" routerLinkActive="active">
      <i class="fas fa-calendar-check me-2"></i>
      Mes rendez-vous
    </a>
  </li>
  <li>
    <a routerLink="/our-services" routerLinkActive="active">
      <i class="fas fa-robot me-2"></i>
      Assistant médical 
    </a>
  </li>
 
</ng-container>
    <!-- SECRETAIRE -->
    <ng-container *ngIf="userRole === 'SECRETAIRE'">
       <li>
    <a routerLink="/secretaire/stat" class="menu-item" routerLinkActive="active">
      <i class="fas fa-tachometer-alt"></i> Tableau de bord
    </a>
  </li>
  <li>
    <a routerLink="/secretaire/dashboard" routerLinkActive="active">
      <i class="fas fa-calendar-check"></i> Rendez-vous
    </a>
  </li>
  <li>
    <a routerLink="/list-patients" routerLinkActive="active">
      <i class="fas fa-users me-2"></i>
      Liste Patients
    </a>
  </li>
</ng-container>
  </ul>
</div>