<nav class="navbar">
  <div class="navbar-logo">
    <img
      src="https://th.bing.com/th/id/R.70dabf9988bd0e6cb982456ae9006a57?rik=6c0CEo2VXyvPTA&pid=ImgRaw&r=0"
      alt="Logo"
      class="logo"
      routerLink="/home"
    />
    <span class="logo-text">CareConnect</span>
  </div>

  <div class="navbar-buttons">
    <ng-container *ngIf="!isLoggedIn(); else loggedIn">
      <a routerLink="/login" class="btn btn-primary">SignIn</a>
      <a routerLink="/register" class="btn btn-primary">SignUp</a>
    </ng-container>

    <ng-template #loggedIn>
      <a *ngIf="isPatient()" routerLink="/our-services" class="btn btn-info" title="Assistant virtuel">
  <i class="fas fa-robot"></i>
</a>

      <div *ngIf="isDoctorOrSecretary()" class="notification-container">
        <a class="notification-link" (click)="toggleNotifications()" title="Notifications">
               <i class="fas fa-bell"> </i>
          <span *ngIf="unreadCount > 0" class="notification-count">{{ unreadCount }}</span>
        </a>

        <div *ngIf="showNotifications" class="notification-dropdown">
          <ul>
            <li *ngFor="let notification of notifications"
                [class.unread-notification]="!notification.isRead"
                [class.read-notification]="notification.isRead">

              <div class="notification-content">
                <div class="notification-message">{{ notification.message }}</div>
                <span class="notification-date">{{ notification.createdAt | date:'short' }}</span>
              </div>

              <div class="notification-actions">
                <button *ngIf="!notification.isRead" class="btn-action mark"
                        (click)="markAsRead(notification.id, $event)">✔ Marquer comme lu</button>
                <button class="btn-action delete"
        (click)="deleteNotification(notification.id, $event)">✖ Supprimer</button>
              </div>
            </li>

            <li *ngIf="notifications.length === 0">Aucune notification</li>
          </ul>
        </div>
      </div>

      <a routerLink="/profile" class="profile-link" title="Profil">
        <img [src]="getPhotoUrl(currentUser?.photo)" alt="Photo de profil" class="profile-icon"/>
      </a>

      <button class="btn btn-primary" (click)="logout()">
        <i class="fas fa-sign-out-alt"></i>

      </button>
    </ng-template>
  </div>
</nav>
