<app-navbar></app-navbar>

<div class="dashboard-wrapper">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    
      <h1>Statistiques des Rendez-Vous</h1>
    
    

    <!-- STATS -->
    <div class="secretaire-stats-content">
      <div class="stats-grid">
        <div class="stat-card">
          <div class="icon"><i class="fas fa-users"></i></div>
          <div class="info">
            <h3>{{ stats.patientsCount }}</h3>
            <p>Patients distincts</p>
          </div>
        </div>

        <div class="stat-card approved">
          <div class="icon"><i class="fas fa-check-circle"></i></div>
          <div class="info">
            <h3>{{ stats.approvedAppointments }}</h3>
            <p>RDV approuvés</p>
          </div>
        </div>

        <div class="stat-card canceled">
          <div class="icon"><i class="fas fa-times-circle"></i></div>
          <div class="info">
            <h3>{{ stats.canceledAppointments }}</h3>
            <p>RDV annulés</p>
          </div>
        </div>
      </div>

      <div class="chart-container">
  <h3>Évolution des RDV (6 mois)</h3>
  <canvas #chartCanvas></canvas>
</div>
    </div>
  </div>
</div>