<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Fin de votre consultation</title>
</head>
<body>
  <h1>Fin de votre consultation</h1>
  <p>Bonjour {{patientName}},</p>
  <p>Votre consultation avec {{doctorName}} le {{date}} à {{time}} est terminée.</p>
  <p>Veuillez vérifier votre ordonnance numérique sur la plateforme.</p>
  <p>Cordialement,<br>L'équipe médicale</p>
</body>
</html>